@import 'default/mixins';
@import 'default/variable';

/*=================================
  cards styling starts here
=================================*/
.cards {
  .wrapper {
    @include flex-dir(column);
  }

  @include common-div(center);

  .card-list {
    display: flex;
    gap: 45px;
    margin-top: 32px;

    .card {
      & {
        position: relative;
      }
      img {
        width: 539px;
      }

      .pause {
        @include pause-text-in();

        &::before {
          @include fix-pause($content-pause, 50px, 38%, 50%);
        }
      }
    }

    @include figcaption();
  }
}
/*=================================
  cards styling ends here
=================================*/
