@import 'default/mixins';
/*=================================
  more styling starts here
=================================*/
.more {
  @include common-div(center);

  &-list {
    width: 100%;
    display: flex;
    gap: 40px;
    margin-top: 30px;
  }

  &-li {
    line-height: 28px;
    position: relative;
  }

  .pause {
    @include pause-text-in();

    &::before {
      @include fix-pause($content-pause, 40px, 32%, 50%);
    }
  }

  @include figcaption();
}
/*=================================
  more styling ends here
=================================*/
