@mixin inline-block-text() {
  display: inline-block;
  list-style-type: none;
}

@mixin color-bg($bg, $color) {
  background-color: $bg;
  color: $color;
}

@mixin flex-space($jstify-content) {
  display: flex;
  justify-content: $jstify-content;
}

@mixin flex-dir($flex-dir) {
  display: flex;
  flex-direction: $flex-dir;
}

@mixin fix-pause($content, $fontS, $top, $left) {
  content: $content;
  font-family: 'fontAwesome';
  font-size: $fontS;
  color: #f0f8ffb2;
  display: flex;
  text-indent: 0;
  position: absolute;
  z-index: 2;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}
