/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  font-family: sans-serif;
  background-color: rgba(18, 30, 56, 0.9215686275);
  color: #f0f8ff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li,
a {
  display: inline-block;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}

.all-caps,
.single-caps::first-letter {
  text-transform: capitalize;
}

.first-caps {
  text-transform: capitalize;
}

/*=================================
  Header styling starts here
=================================*/
header {
  background-color: rgba(18, 30, 56, 0.9215686275);
  padding: 12px 16px;
}
header .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-left,
header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
header .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}
header .hamburger .line {
  width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: -9999px;
  line-height: 0px;
}
header .hamburger .line::before {
  content: "";
  width: 17px;
  border-bottom: 2px solid rgba(190, 185, 185, 0.8705882353);
  border-radius: 2px;
  display: inline-block;
}

h1 a {
  color: #f0f8ff;
  font-size: 17px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  color: rgba(190, 185, 185, 0.8705882353);
}

/*=================================
  Header styling ends here
=================================*/
/*=================================
  banner styling ends here
=================================*/
.banner {
  position: relative;
}
.banner .wrapper {
  width: 100%;
}
.banner .banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.banner .banner-buttons {
  padding: 30px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
.banner .banner-buttons .button {
  padding: 16px 48px;
  border-radius: 41px;
}
.banner .banner-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner h2 {
  font-size: 47px;
  font-weight: 900;
}
.banner p {
  font-size: 19px;
  line-height: 33px;
  text-align: center;
  margin: 23px 0;
}
.banner a {
  padding: 14px 25px;
  border: 1.5px solid rgba(235, 230, 230, 0.5098039216);
  border-radius: 3px;
  color: #f0f8ff;
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
}

/*=================================
  banner styling ends here
=================================*/
/*=================================
  cards styling starts here
=================================*/
.cards .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 94px;
  padding-bottom: 50px;
}
.cards .common-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards .common-div h3 {
  font-size: 30px;
  font-weight: 900;
}
.cards .common-div p {
  margin: 29px;
  font-size: 17.5px;
}
.cards .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  margin-top: 32px;
}
.cards .card-list .card {
  position: relative;
}
.cards .card-list .card img {
  width: 539px;
}
.cards .card-list .card .pause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: -9999px;
}
.cards .card-list .card .pause::before {
  content: "\f04b";
  font-family: "fontAwesome";
  font-size: 50px;
  color: rgba(240, 248, 255, 0.6980392157);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: 0;
  position: absolute;
  z-index: 2;
  top: 38%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.cards .card-list figcaption {
  padding: 30px;
  background-color: #2a3446;
}

/*=================================
  cards styling ends here
=================================*/
/*=================================
  choose styling starts here
=================================*/
.choose {
  background-color: rgba(52, 58, 61, 0.2901960784);
  padding-top: 94px;
  padding-bottom: 50px;
}
.choose .common-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.choose .common-div h3 {
  font-size: 30px;
  font-weight: 900;
}
.choose .common-div p {
  margin: 29px;
  font-size: 17.5px;
}
.choose p {
  margin: 29px 0;
}
.choose-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  margin-top: 30px;
}
.choose-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 93%;
  gap: 10px;
}
.choose-right li {
  width: 31%;
}
.choose-left {
  width: 25%;
}
.choose-image {
  position: relative;
}
.choose-image .pause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: -9999px;
}
.choose-image .pause::before {
  content: "\f04b";
  font-family: "fontAwesome";
  font-size: 40px;
  color: rgba(240, 248, 255, 0.6980392157);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: 0;
  position: absolute;
  z-index: 2;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.choose .button-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.choose .button-div a {
  padding: 10px 15px;
  background-color: #323d50;
  border-radius: 4px;
  font-size: 14px;
  color: rgba(190, 185, 185, 0.8705882353);
}
.choose img {
  border-radius: 3px;
}

/*=================================
  choose styling ends here
=================================*/
/*=================================
  more styling starts here
=================================*/
.more {
  padding-top: 94px;
  padding-bottom: 50px;
}
.more .common-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.more .common-div h3 {
  font-size: 30px;
  font-weight: 900;
}
.more .common-div p {
  margin: 29px;
  font-size: 17.5px;
}
.more-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-top: 30px;
}
.more-li {
  line-height: 28px;
  position: relative;
}
.more .pause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: -9999px;
}
.more .pause::before {
  content: "\f04b";
  font-family: "fontAwesome";
  font-size: 40px;
  color: rgba(240, 248, 255, 0.6980392157);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: 0;
  position: absolute;
  z-index: 2;
  top: 32%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.more figcaption {
  padding: 30px;
  background-color: #2a3446;
}

/*=================================
  more styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
footer {
  background-color: #000000;
}
footer .wrapper {
  padding: 94px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}
footer .wrapper .footer-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
footer .wrapper .footer-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
footer .wrapper .footer-down p {
  font-size: 14px;
}
footer .wrapper .footer-down .footer-span {
  color: #f0f8ff;
}
footer .wrapper .footer-list {
  padding: 20px 0;
}
footer .wrapper .footer-list li {
  padding: 12px 0;
  border-bottom: 0.5px solid rgba(190, 185, 185, 0.8705882353);
  width: 100%;
  font-size: 14.5px;
  color: rgba(190, 185, 185, 0.8705882353);
}
footer .wrapper .footer-list li:last-child {
  border: none;
}
footer .wrapper h4 {
  font-size: 23px;
  font-weight: 900;
}
footer .wrapper .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}
footer .wrapper .icon-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: -9999px;
}
footer .wrapper .icon-list a::before {
  font-family: "FontAwesome";
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: 0;
  color: #f0f8ff;
}
footer .wrapper .icon-list .facebook::before {
  content: "\f09a";
}
footer .wrapper .icon-list .instagram::before {
  content: "\f16d";
}
footer .wrapper .icon-list .snapchat::before {
  content: "\f2ab";
}
footer .wrapper .icon-list .twitter::before {
  content: "\f099";
}
footer .wrapper figcaption {
  color: rgba(190, 185, 185, 0.8705882353);
}

/*=================================
  footer styling ends here
=================================*/